# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, coverage output
*.test
*.out

# Go build artifacts
/bin/

# Go workspace file
/go.work
/go.work.sum

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
